### 1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to 
print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal 
to 7.

In [4]:
guess_me=int(input('enter the no.'))
if guess_me<7:
    print('too slow')
elif guess_me==7:
    print('just right')
else:
    print('too high')

enter the no.7
just right

### 2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while 
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals 
guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit 
the loop. Increment start at the end of the loop.

In [6]:
guess_me=1
while guess_me<7:
    print('{}'.format(guess_me))
    guess_me=guess_me+1

1
2
3
4
5
6

### Print the following values of the list [3, 2, 1, 0] using a for loop.

In [7]:
list=[3,2,1,0]

In [8]:
for var in list:
    print(var)

3
2
1
0

### 4. Use a list comprehension to make a list of the even numbers in range(10)

In [15]:
r=range(10)
tuple(filter(lambda v:v%2==0,r))

(0, 2, 4, 6, 8)

### 5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the 
keys, and use the square of each key as its value.

In [16]:
def squares(x):
    return x**2

In [18]:
squares(4)

16

In [22]:
number=range(10)
square={}
for n in number:
    square[n]=n**2
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### 6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [23]:
range(10)

range(0, 10)

In [26]:
a=tuple(filter(lambda v:v%2!=0,range(10)))

In [27]:
set(a)

{1, 3, 5, 7, 9}

### 7. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione']

In [9]:
list=['Harry','Ron','Hermione']
def good(l):
    return list

In [10]:
good(list)

['Harry', 'Ron', 'Hermione']

### 8.Create a zoo.py file first. Define the hours() function, which prints the string 'Open 9-5 daily'.
### Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [14]:
a=open('zoo.py','w')
def hour():
    return 'open 9-5 daily'

In [15]:
hour()

'open 9-5 daily'

### 9.Create a plain dictionary with the key-value pairs 'a': 1, 'b': 2, and 'c': 3, and print it out.

In [16]:
dictionary={'a':1,'b':2,'c':3}

In [18]:
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [19]:
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [20]:
year_list=[1990,1991,1992,1993,1994,1995]

In [24]:
i=1990
while i>1995:
    print('{}'.format(i))
    i=i+1

In [31]:
surprice_list=[ "Groucho", "Chico,","Harpo"]

In [32]:
surprice_list[::-1]

['Harpo', 'Chico,', 'Groucho']

### import sqlite3 databasea and create database name Books and create table name Book and insert values in tables

In [42]:
import sqlite3

In [43]:
db=sqlite3.connect('books.db')

In [44]:
db

In [47]:
db.execute("create table Books( title text, author text, year int)")

In [48]:
db.execute("insert into Books(title,author,year)values('Ramayan','aspatil',1992)")
db.execute("insert into Books(title,author,year)values('Karn','vrpatil',1994)")
db.execute("insert into Books(title,author,year)values('Mahabhart','djpatil',1990)")

In [49]:
results=db.execute('select * from Books')
for row in results:
    print(row)

('Ramayan', 'aspatil', 1992)
('Karn', 'vrpatil', 1994)
('Mahabhart', 'djpatil', 1990)

### Find out current time and Date.

In [50]:
import datetime

In [51]:
today=datetime.datetime.today()

In [52]:
today

datetime.datetime(2022, 2, 12, 17, 55, 52, 413824)

### What is the result of the code?

In [53]:
x='Indian Air Force'

In [55]:
def func():
    print(x)

In [56]:
func()

Indian Air Force

In [59]:
X = 'BharatSoft'
def func():
    X = 'NI!'
func()
print(X)

BharatSoft

In [60]:
def func(a, b=6, c=8):
    print(a, b, c)
func(1, 2)

1 2 8

In [2]:
list= [3.14, 'cat', 11, 'cat,' 'True']

In [3]:
list.append(99)

In [4]:
list

[3.14, 'cat', 11, 'cat,True', 99]

In [5]:
list.remove('cat')

In [6]:
list

[3.14, 11, 'cat,True', 99]

In [8]:
d={'foo':42}

In [9]:
type(d)

dict

In [11]:
'Hello'.upper().isupper()

True

In [14]:
'Hello'.upper().lower()

'hello'

### 1. Create a zoo.py file first. Define the hours() function, which prints the string 'Open 9-5 daily'.
### Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
a=open('zoo.py','w')
def hour():
    return 'open 9-5 daily'

### Create a plain dictionary with the key-value pairs 'a': 1, 'b': 2, and 'c': 3, and print it out.

In [2]:
dictionary={'a':1,'b':2,'c':3}

In [3]:
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [4]:
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [5]:
type(dictionary)

dict